<footer class="footer">
  <div class="container">
    <div class="footer-wrap">
      <div class="footer-content">
        <a class="footer-logo" href="./index.html">
          <svg class="footer-logo-icon" width="16" height="16">
            <use href="/img/symbol-defs.svg#icon-logo-mob"></use>
          </svg>
          <svg class="footer-logo-text" width="146" height="12">
            <use href="/img/symbol-defs.svg#icon-textmob-logo-part"></use>
          </svg>
        </a>
        <p class="footer-slogan">
          Whether you're looking for a healthy snack or a thoughtful gift, our
          fruit baskets are the perfect choice.
        </p>
      </div>
      <div class="footer-nav-adress-wrap">
        <div class="footer-menu">
          <nav class="footer-nav">
            <ul class="footer-nav-list">
              <li class="fotter-nav-item">
                <a class="footer-nav-link" href="#how-it-works">how it works</a>
              </li>
              <li class="fotter-nav-item">
                <a class="footer-nav-link" href="#vegetables">vegetables</a>
              </li>
              <li class="fotter-nav-item">
                <a class="footer-nav-link" href="#reviews">reviews</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="footer-contacts">
          <address class="footer-adress">
            <ul class="footer-adress-list">
              <li class="footer-adress-item">
                <a class="footer-adress-link" href="tel:+380684439426"
                  >+380 (68) 443-94-26</a
                >
              </li>
              <li class="footer-adress-item">
                <a
                  class="footer-adress-link"
                  target="_blank"
                  href="https://www.google.com/maps?q=latitude,longitude"
                  >1678 S. Pioneer Road Salt Lake City UT 84104</a
                >
              </li>
            </ul>
          </address>
        </div>
      </div>
    </div>
    <div class="footer-privacy">
      <div class="footer-privacy-cookie">
        <a class="footer-privacy-policy" target="_blank" href="./index.html"
          >Privacy Policy</a
        >
        <span class="footer-privacy-slash">/</span>
        <a class="footer-cookie-settings" target="_blank" href="./index.html"
          >Cookie settings</a
        >
      </div>
      <a class="footer-copyright" target="_blank" href="./index.html"
        ><span>&#169;</span>Green Harvest 2023</a
      >
    </div>
  </div>
</footer>
