<header class="header">
  <div class="container header-container">
    <div class="header-wrap-main">
      <div class="header-logo">
        <a href="./index.html" class="header-logo-link">
          <svg class="header-logo-icon" width="16" height="16">
            <use href="/img/symbol-defs.svg#icon-logo-mob"></use>
          </svg>
          <svg class="header-logo-text" width="148" height="16">
            <use href="/img/symbol-defs.svg#icon-textmob-logo-part"></use>
          </svg>
        </a>
      </div>
      <button type="button" class="burger-btn-mob js-open-menu">
        <svg class="header-menu-icon" width="32" height="32">
          <use href="/img/symbol-defs.svg#icon-burgermob"></use>
        </svg>
      </button>
    </div>
      <div class="header-overlay js-menu-container">
        <button type="button" class="close-menu-btn js-close-menu"><svg class="header-close-icon" width="32" height="32">
            <use href="/img/symbol-defs.svg#icon-close-mob"></use>
          </svg></button>
        <nav class="header-navigation">
          <ul class="header-navigation-list">
            <li  class="header-navigation-item ">
              <a href="#how-it-works" class="header-navigation-link current header-link">How It Works</a>
            </li>
            <li class="header-navigation-item">
              <a href="#vegetables" class="header-navigation-link header-link">Vegetables</a>
            </li>
            <li class="header-navigation-item">
              <a href="#reviews" class="header-navigation-link menu-reviews header-link">Reviews</a>
            </li>
          </ul>
        </nav>
        
        <button type="button" class="header-btn">Shop now</button>
  
      </div>

  </div>
</header>