<header class="header">
<div class="container">
  <div class="header-wrap">
      <!-- <svg>
        <use></use>
      </svg> -->
      <logo class='header-logo'>Green.Harvest</logo>
  </div>
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="./page-2.html" class="nav-link">How it Works</a>
        </li>
        <li class="nav-item">
          <a href="./page-3.html" class="nav-link">Vegetables</a>
        </li>
        <li class="nav-item">
          <a href="./page-3.html" class="nav-link">Reviews</a>
        </li>
      </ul>
      <button type="submit">Shop now</button>
    </nav>
</div>
</header>
