<section class="hero">
   <div class="container hero-container">
   <div>
        <h1 class="hero-title">organic vegetables to your diet today!</h1>
         <p class="hero-text">Our expertly curated vegetable baskets are made with the freshest, highest quality vegetables available. Fresh Harvest Box has got you covered. Fresh, high-quality vegetables in expertly curated vegetable baskets delivered to you.</p>
       
   </div>
  <div class="hero-pictures">
       <picture>
        <source srcset="./img/hero-section/hero-mob/hero-mob-x1-min.jpg 1x,
        ./img/hero-section/hero-mob/hero-mob-x2-min.jpg 2x" media="(min-width: 1280px)">
        <source srcset="./img/hero-section/hero-tab/hero-tab-x1-min.jpg 1x,
        ./img/hero-section/hero-tab/hero-tab-x2-min.jpg 2x" media="(min-width: 768px)">
        <source srcset="./img/hero-section/hero-desc/hero-desc-x1-min.jpg 1x,
        ./img/hero-section/hero-desc/hero-desc-x2-min.jpg 2x" media="(min-width: 320px)">
         <img class="" src="./img/hero-section/hero-mob/hero-mob-x1-min.jpg" alt="Organic Vegetables" width="375" height="370">
        </picture>
  </div>

    </div>
</section>