<section class="how-it-work" id="how-it-work">
  <div class="container how-block">
    <h2 class="visually-hidden">How it work</h2>
    <div class="how-wrap">
      <picture>
        <!-- <source
          srcset="
            /img/how-it-works-section/how-it-works-desc/how-it-works-desc-x2-min.jpg 2x,
            /img/how-it-works-section/how-it-works-desc/how-it-works-desc-x1-min.jpg 1x
          "
          media="(min-width: 1158px)"
        /> -->
        <source srcset="
        /img/how-it-works-section/how-it-works-desc/how-it-works-desc_2x.webp 2x,
        /img/how-it-works-section/how-it-works-desc/how-it-works-desc_1x.webp 1x"
          media="(min-width: 1158px)"/>
        <source
          srcset="
            /img/how-it-works-section/how-it-works-tab/how-it-works-tab-x2-min.jpg 2x,
            /img/how-it-works-section/how-it-works-tab/how-it-works-tab-x1-min.jpg 1x"
          media="(min-width: 768px)"
        />
         <source srcset="
        /img/how-it-works-section/how-it-works-tab/how-it-works-tab_2x.webp.webp 2x,
        /img/how-it-works-section/how-it-works-tab/how-it-works-tab_1x.webp 1x" media="(min-width: 768px)"/>
        <source
          srcset="
            /img/how-it-works-section/how-it-works-mob/how-it-works-mob-x2-min.jpg 2x,
            /img/how-it-works-section/how-it-works-mob/how-it-works-mob-x1-min.jpg 1x
          "
          media="(min-width: 320px)"/>
         <source srcset="
         /img/how-it-works-section/how-it-works-mob/how-it-works-mod_2x.webp 2x,
         /img/how-it-works-section/how-it-works-mob/how-it-works-mod_1x.webp 1x
          " media="(min-width: 320px)" />
        <img
          src="/img/how-it-works-section/how-it-works-desc/how-it-works-desc-x1-min.jpg"
          alt="girl cutting an apple"
          width="335"
          height="450"
          class="how-image"
        />
      </picture>
    </div>
  </div>
  <div class="container how-content">
    <h3 class="how-subtitle">
      To order your <span class="how-sub-span">vegetable</span> basket, simply
      follow these <span class="how-sub-span">easy steps</span>
    </h3>
    <p class="how-text">
      Our baskets are assembled with care and delivered straight to your
      doorstep, so you can enjoy the taste of fresh fruit without ever leaving
      your home.
    </p>
    <ol class="how-list">
      <li class="how-item first">
        <p class="how-item-text">
          Just choose <span class="how-list-span">the vegetable</span> you want
          to order by clicking on the checkboxes
          <span class="how-list-span">next to it.</span>
        </p>
      </li>
      <li class="how-item second">
        <p class="how-item-text">
          Click on <span class="how-list-span">the basket</span> and fill out
          the form.
        </p>
      </li>
      <li class="how-item third">
        <p class="how-item-text">
          Sit back and relax! Your
          <span class="how-list-span">fresh vegetables</span> basket will be
          delivered.
        </p>
      </li>
    </ol>
  </div>
</section>
