<section class="vegetables" id="vegetables">
  <div class="container">
    <h2 class="vegetables-title">
      organic<br />
      <span class="vegetables-span">vegetables</span>
    </h2>
    <p class="vegetables-text">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="vegetables-list">
      <li class="vegetables-item">
        <h3 class="vegetables-item-title">eggplant</h3>
        <p class="vegetables-item-text">60 UAH / kg</p>
        <div class="vegetables-image-wrap">
          <picture>
            <source srcset="/img/vegetables-section/eggplant_1x.webp 1x,
                 /img/vegetables-section/eggplant_2x.webp 2x" />
            <img class="veg-list-img" src="/img/vegetables-section/eggplant_1x.webp" alt="eggplant" width="282"  height="243"/>
          </picture>
        </div>
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-item-title">leek</h3>
        <p class="vegetables-item-text">50 UAH / kg</p>
        <div class="vegetables-image-wrap">
          <picture>
            <source
              srcset="/img/vegetables-section/leek_1x.webp 1x,
              /img/vegetables-section/leek_2x.webp 2x" />
            <img class="veg-list-img" src="/img/vegetables-section/leek_1x.webp" alt="leek" width="282" height="243"/>
          </picture>
        </div>
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-item-title">mushrooms</h3>
        <p class="vegetables-item-text">40 UAH / kg</p>
        <div class="vegetables-image-wrap">
         <picture>
           <source srcset="/img/vegetables-section/mushrooms_1x.webp 1x,
           /img/vegetables-section/mushrooms_2x.webp 2x" />
                      <img class="veg-list-img" src="/img/vegetables-section/mushrooms_1x.webp" alt="mushrooms" width="282" height="243" />
          </picture>
        </div>
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-item-title">corn</h3>
        <p class="vegetables-item-text">60 UAH / kg</p>
        <div class="vegetables-image-wrap">
        <picture>
          <source srcset="/img/vegetables-section/corn_1x.webp 1x,
          /img/vegetables-section/corn_2x.webp 2x" />
          <img class="veg-list-img" src="/img/vegetables-section/corn.webp" alt="corn" width="282" height="243" />
        </picture>
        </div>
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-item-title">sweet potatoes</h3>
        <p class="vegetables-item-text">50 UAH / kg</p>
        <div class="vegetables-image-wrap">
          <picture>
            <source srcset="/img/vegetables-section/potatos_1x.webp 1x,
                            /img/vegetables-section/potatos_2x.webp 2x" />
            <img class="veg-list-img" src="/img/vegetables-section/potatos_1x.webp" alt="potatoes" width="282" height="243" />
          </picture>
        </div>
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-item-title">carrot</h3>
        <p class="vegetables-item-text">40 UAH / kg</p>
        <div class="vegetables-image-wrap">
         <picture>
         <source srcset="/img/vegetables-section/carrot_1x.webp 1x,
           /img/vegetables-section/carrot_2x.webp 2x" />
           <img class="veg-list-img" src="/img/vegetables-section/carrot_1x.webp" alt="carrot" width="282" height="243" />
           </picture>
        </div>
      </li>
    </ul>
  </div>
</section>