<section class="your-order-section">
    <div class="container your-order-container">
        <div class="your-order-title-wrap">
            <h2 class="your-order-title">
                FRESH <span class="your-order-part-title">HARVEST</span> BOX HAS
                GOT YOU COVERED
            </h2>
            <p class="your-order-text">
                Our boxes are packed with delicious, nutritious vegetables,
                perfect for anyone looking to eat healthier or support local
                farmers. Order your box today and start enjoying the best that
                nature has to offer!
            </p>
        </div>
        <div class="order-form-wrap">
            <form class="order-form">
                <p class="order-form-text">
                    ORDERING <span class="order-form-text-part-one">FROM US</span> IS
                    QUICK AND EASY! FILL OUT
                    <span class="order-form-text-part-two">THE FORM</span> BELOW AND
                    WE WILL CONTACT YOU!
                </p>
                <div class="order-form-input-wrp">
                    <input class="order-form-input" type="text" name="user-name" placeholder="Full Name" required />
                </div>
                <div class="order-form-input-wrp">
                    <input class="order-form-input" type="email" name="user-email" placeholder="Email" pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})" required />
                </div>
                <div class="order-form-textarea-wrp">
                    <textarea class="order-form-textarea" name="user-comment" placeholder="Comment"></textarea>
                </div>
                <button class="order-form-btn" type="button">SEND</button>
            </form>
        
        <div class="order-soc-networks">
            <picture>
                <source srcset="./img/your-order-section/your-order-desc/your-order-desc-x2-min.jpg 2x, ./img/your-order-section/your-order-desc/your-order-desc-x1-min.jpg 1x" media="(min-width: 1158px)" />
                <source srcset="./img/your-order-section/your-order-tab/your-oreder-tab-x2-min.jpg 2x, ./img/your-order-section/your-order-tab/your-oreder-tab-x1-min.jpg 1x" media="(min-width: 768px)" />
                <source srcset="./img/your-order-section/your-order-mob/your-mob-order-x2-min.jpg 2x, ./img/your-order-section/your-order-mob/your-mob-order-x1-min.jpg 1x" media="(min-width: 320px)" />
                <img src="./img/your-order-section/your-order-mob/your-mob-order-x1-min.jpg" class="order-img" alt="girl" />
            </picture>
            <div class="order-soc-networks-wrap">
                <p class="order-soc-networks-text">
                    Follow us on our social networks:
                </p>
                <ul class="order-soc-link-list">
                    <li class="order-soc-link-list-item">
                        <a href="https://www.instagram.com/goitclub/" class="order-soc-link" target="_blank">instagram /</a>
                    </li>
                    <li class="order-soc-link-list-item">
                        <a href="https://www.facebook.com/goITclub/" class="order-soc-link" target="_blank">facebook /</a>
                    </li>
                    <li class="order-soc-link-list-item">
                        <a href="https://www.youtube.com/c/GoIT" class="order-soc-link" target="_blank">youtube</a>
                    </li>
                </ul>
            </div>
        </div>
        </div>
    </div>
</section>