/* .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advertisement {
    background-color: #fbfbfb;
}

.container-advertisement {
    padding: 80px 10px;
    max-width: 375px;
}

.advertisement-text {
    font-weight: 600;
    font-size: 48px;
    line-height: 50px;
    line-height: 1.04;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    padding-left: 10px;
    transition: transform 300ms ease;
}

.advertisement-sale {
    border-radius: 12px;
    background-color: #576f35;
    padding: 0 10px;
}

.advertisement-text-sale {
    color: #fbfbfb;
    font-weight: 600;
    font-size: 48px;
    line-height: 50px;
    line-height: 1.04;
    letter-spacing: -0.01em;
    text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
    .container-advertisement {
        padding: 100px 16px;
        max-width: 768px;
    }

    .advertisement-sale {
        max-width: 736px;
        padding-left: 16px;
    }

    .advertisement-text-sale {
        font-size: 64px;
        line-height: 70px;
    }

    .advertisement-text {
        padding-left: 16px;
        font-size: 64px;
        line-height: 70px;
    }
}

@media only screen and (min-width: 1280px) {
    .container-advertisement {
        padding: 100px;
        max-width: 1280px;
    }

    .advertisement-sale {
        max-width: 808px;
        padding: 0 0 0 13px;
    }

    .advertisement-text-sale {
        font-size: 76px;
        line-height: 80px;
    }

    .advertisement-text {
        font-size: 76px;
        line-height: 80px;
    }
} */

.advertisement .container {
    padding: 80px 0;
    margin: 0 auto;
    /* max-width: 100%; */
}

.advertisement {
    background-color: #fdfdfd;
}

.advertisement {
    font-weight: 600;
    font-size: 48px;
    line-height: 1.04;
    letter-spacing: -0.01em;
    text-transform: uppercase;
}

.advertisement-text {
    padding: 0 10px;
}

.text-sale {
    border-radius: 12px;
    color: #fdfdfd;
    background-color: #576F35;
    padding: 8px 10px;
    display: inline-block;
    /* max-width:  320px; */
}

.second-part {
    display: block;
    padding-left: 20px;
}

@media screen and (min-width: 768px) {

    .advertisement .container {
        padding: 100px 32px;
        margin: 0;
        max-width: 100%;
    }

    .second-part {
        display: block;
        padding-left: 0;
    }

    .advertisement-text {
        padding: 0;
    }

    .text-sale {
        border-radius: 12px;
        color: #fdfdfd;
        background-color: #576F35;
        padding: 8px 13px;
        display: inline-block;
    }

    .advertisement {
        font-size: 64px;
        line-height: 1.09375;
        /* margin:0; */
        width: 100%;
    }
}

@media screen and (min-width: 1280px) {
    .advertisement .container {
        padding: 100px 113px;
        margin: 0;
        width: 100%;
    }

    .advertisement {
        font-weight: 600;
            font-size: 75px;
            line-height: 1.05;
        /* margin:0; */
        width: auto;
        display: inline-block;
    }
    .second-part{
        display: initial;
    }

}