.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advert-section .container {
    padding: 80px 0;
    margin: 0 auto;
    max-width: 100%;

}

.advert-section {
    background-color: #fdfdfd;
}

.advert {
    font-weight: 600;
    font-size: 48px;
    line-height: 1.04;
    letter-spacing: -0.01em;
    text-transform: uppercase;
}

.advert-text {
    padding: 0 10px;
}

.text-sale {
    border-radius: 12px;
    color: #fdfdfd;
    background-color: #576F35;
    padding: 8px 10px;
    display: inline-block;
    /* max-width:  320px; */
}

.second-part {
    font-weight: 600;
    font-size: 48px;
    line-height: 1.04;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    display: block;
    padding-left: 20px;
}

@media screen and (min-width: 768px) {

    .advert-section .container {
        padding: 100px 32px;
        margin: 0 auto;
    }

    .second-part {
        display: block;
        padding-left: 0;
        font-size: 64px;
        line-height: 1.09375;
        /* margin:0; */
        width: 100%;
    }

    .advert-text {
        padding: 0;
    }

    .text-sale {
        border-radius: 12px;
        color: #fdfdfd;
        background-color: #576F35;
        padding: 8px 13px;
        display: inline-block;
    }

    .advert {
        font-size: 64px;
        line-height: 1.09375;
        /* margin:0; */
        width: 100%;
    }
}

@media screen and (min-width: 1280px) {
    .advert-section .container {
        padding: 100px 113px;
        margin: 0 auto;
        max-width: 1280px;
    }

    .advert-section {
        width: 100%;
    }

    .advert {
        font-weight: 600;
        font-size: 74px;
        line-height: 1.05;
        /* margin:0; */
        width: auto;
        display: inline-block;
    }

    .second-part {
        display: initial;
    }

}