*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Inter Tight', sans-serif;
    color: #FBFBFB;
    background-color: #576F35;
    
}

p{
    color: #141414;
}

.container {
    width: 100%;
    max-width: 375px;
    padding: 0 20px;
    margin: 0 auto;
    box-sizing: border-box;
}
.section{
    padding: 80px 20px;
}

.section:last-child{
    padding: 40px;
}

@media screen and (min-width: 320px) and (max-width: 375px) {
    .container {
        width: 100%;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;   
    }
          }
    
          .section {
              padding: 100px 32px;
          }

    
          .section:last-child {
              padding-bottom: 40px;
          }

}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;

    }
    .section{
        padding: 100px;
    }
    .section:last-child{
        padding:50px ;
    }
}