.footer {
  background: #7a3145;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-content {
  max-width: 296px;
  margin-bottom: 40px;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 4px;
  fill: #fbfbfb;
  margin-bottom: 14px;
}

.footer-slogan {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #fbfbfb;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.fotter-nav-item:not(:last-child) {
  margin-bottom: 14px;
}

.footer-nav-link {
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: #fbfbfb;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 80px;
  max-width: 176px;
}

.footer-adress-item:not(:last-child) {
  margin-bottom: 14px;
}

.footer-adress-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.01em;
  color: #fbfbfb;
}

.footer-privacy {
  display: flex;
  justify-content: space-between;
}

.footer-privacy-cookie {
  display: flex;
  gap: 8px;
  margin-right: 49px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.01em;
  color: rgba(251, 251, 251, 0.5);
}

.footer-copyright {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.01em;
  color: rgba(251, 251, 251, 0.5);
}

/* ============FOOTER-TABLET============== */

@media screen and (min-width: 768px) {
  .footer {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .footer-wrap {
    display: flex;
  }

  .footer-content {
    margin-right: 224px;
  }

  .footer-logo {
    width: 194px;
    height: 18px;
    margin-bottom: 25px;
  }

  .footer-slogan {
    font-size: 16px;
    line-height: 1.25;
  }

  .footer-nav-adress-wrap {
    max-width: 215px;
  }

  .footer-menu {
    margin-bottom: 64px;
  }

  .fotter-nav-item:not(:last-child) {
    margin-bottom: 25px;
  }

  .footer-nav-link {
    font-size: 32px;
  }

  .footer-contacts {
    margin-bottom: 100px;
    min-width: 215px;
  }

  .footer-adress-item:not(:last-child) {
    margin-bottom: 25px;
  }

  .footer-adress-item:not(:last-child) {
    margin-bottom: 25px;
  }

  .footer-adress-link {
    font-size: 18px;
    line-height: 1.11;
  }

  .footer-privacy-cookie {
    font-size: 18px;
    line-height: 1.11;
  }

  .footer-copyright {
    font-size: 18px;
    line-height: 1.11;
  }
}

/* ==============FOOTER DESKTOP================= */

@media screen and (min-width: 1280px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .footer-wrap {
    margin-bottom: 125px;
  }

  .footer-content {
    margin-right: 302px;
  }

  .footer-menu {
    margin-bottom: 0;
  }

  .footer-contacts {
    margin-bottom: 0;
  }

  .footer-nav-adress-wrap {
    display: flex;
    margin-left: auto;
    max-width: 516px;
  }

  .footer-nav {
    margin-right: 121px;
  }

  .footer-nav-link {
    white-space: nowrap;
  }

}
