.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}



.header-container {
  /* overflow-x: hidden; */
}

.header-wrap-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.header-logo {
  /* display: flex;
  gap: 4px; */
}

.header-logo-link {
  display: flex;
  gap: 4px;
  align-items: center;
}

.header-logo-icon {
  fill: #FBFBFB;
}

.header-logo-text {
  fill: #FBFBFB;
}

.burger-btn-mob {
  background-color: transparent;
}

.header-menu-icon {
  width: 32px;
  height: 32px;
  stroke: #FBFBFB;
}

.header-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #7A3145;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;

}

.header-nav-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.close-menu-btn {
  /* position: absolute;
  top:20px;
  right: 20px; */
  display: block;
  margin-left: auto;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-color: transparent;
}

.header-close-icon {
  stroke: #FBFBFB;
}

.header-navigation {}


.header-navigation-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.header-navigation-item {}


.header-navigation-link {
  border: 1px solid rgba(251, 251, 251, .4);
  display: block;
  padding: 12px;
  border-radius: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  min-width: 115px;
  width: 100%;
  letter-spacing: -.02em;
  text-align: center;
  color: #fbfbfb;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
    background-color: #fbfbfb;
    color: #7a3145;
}

.current:hover {
  color: rgba(122, 49, 69, 0.7);
}

.current:focus {
  background-color: transparent;
  color: #FBFBFB;


}

/* .menu-reviews {
  border: 1px solid rgba(251, 251, 251, 0.4);
  border-radius: 12px;
  padding: 12px 32px;
  width: 114px;
  height: 42px;
} */

.header-btn {
  align-self: flex-end;
  border: none;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #7A3145;
  border-radius: 30px;
  padding: 16px 41px;
  height: 50px;
  display: block;
  margin: 0 auto;
  /* margin-bottom: 40px; */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.header-btn:hover {
  color: rgba(122, 49, 69, 0.7);
}

.header-btn:focus {
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 30px;
  background-color: transparent;
  color: #FBFBFB;


}

@media screen and (min-width: 768px) {
  .header-wrap-main {
    /* padding-top: 32px; */
  }

  .header-logo-icon {
    width: 18px;
    height: 18px;
  }

  .header-logo-text {
    width: 168px;
    height: 15px;
  }
    .header-navigation-link{
      font-size: 16px;
      line-height: 1.25;
    }
    .header-navigation-link:hover{
        color:#7A3145 ;
        background-color: #FBFBFB;
    }
    .current:hover,
    .current:focus{
      color: #FBFBFB;
      background-color: #7A3145;
    }


  .header-btn {
    font-size: 18px;
    line-height: 1.11;
    color: #7A3145;
    padding: 16px 32px;
    height: 52px;
    margin-bottom: 0;
  }

  .header-btn:hover {
    color: #FBFBFB;
    /* color: rgba(122, 49, 69, 0.7); */
    background: #622133;
  }

  .header-btn:focus {
    border: 1px solid rgba(251, 251, 251, 0.2);
    border-radius: 30px;
    background-color: transparent;
    color: #FBFBFB;
  }

  .header-overlay {
    left: 53%;
    width: 47%;
  }

  .header-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    width: 180%;
    height: 100%;
    background-image: linear-gradient(rgba(20, 20, 20, 0.4), rgba(20, 20, 20, 0.4));
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-overlay.is-open::before {
    opacity: 1;
    visibility: visible;
  }


  .header-menu-icon {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 1280px) {

  .header-container {
    max-width: 1280px;
    padding-top: 32px;
    padding-right: 100px;
    padding-left: 100px;
  }

  .header-logo {
    padding-top: 17px;
  }

  .header-wrap-main {
    padding-top: 0;
    display: block;

  }

  .header-menu-icon {
    display: none;
  }

  .close-menu-btn {
    display: none;
  }

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
.current{
  background-color: transparent;
  color: #fbfbfb;
}
.current:hover{
  color:#7A3145;
  background-color: #FBFBFB;
}
  .header-overlay {
    padding: 0;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    position: static;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    gap: 20px;
    background-color: transparent;
  }

  .header-navigation-list {
    display: flex;
    gap: 8px;
    flex-direction: row;
    align-items: center;
    justify-content: center;

  }
  .header-overlay::before{
    display: none;
  }
  /* .header-btn{
    margin: 0;
  } */

  .header-navigation {}

  .header-btn {
    font-size: 18px;
    line-height:1.11;
    color: #FBFBFB;
    padding: 16px 32px;
    height: 52px;
    background-color: #7A3145;
    margin-bottom: 0;
    margin: 0;
  }
  .header-btn:focus{
    color: #7A3145;
    background-color: #FBFBFB;
  }

}