.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.how-block {
  background-color: #7a3145;
}

.how-wrap {
  border-radius: 30px;
  padding: 40px 0;
}

.how-image {
  border-radius: 30px;
}

.how-content {
  padding: 80px 20px;
}

.how-image {
  width: 100%;
}

.how-subtitle {
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  margin-bottom: 20px;
}

.how-sub-span {
  color: rgba(251, 251, 251, 0.3);
}

.how-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  color: #fbfbfb;
  margin-bottom: 40px;
}

.how-list {
  counter-reset: list-counter;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
  padding: 0;
}

.how-item {
  border-radius: 15px;
  padding: 12px 27px 12px 24px;
  height: 76px;
  width: 100%;
  background-color: #fbfbfb;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 24px;
  position: relative;
}

.how-item.second {
  padding-right: 59px;
}

.how-item.third {
  padding-right: 24px;
}

.how-icone {
  border-radius: 100%;
  fill: #7a3145;
  stroke-width: 5px;
  background-color: rgba(122, 49, 69, 0.3);
  width: 52px;
  height: 52px;
  position: relative;
}

.how-item::before {
  counter-increment: list-counter;
  content: counter(list-counter) '';
  position: absolute;

  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #7a3145;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  stroke-width: 5px;
  box-shadow: 0 0 0 4px rgba(122, 49, 69, 0.3);
}

.how-item-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(20, 20, 20, 0.6);
  padding-left: 76px;
}

.how-list-span {
  font-weight: 700;
  color: #141414;
}

@media screen and (min-width: 768px) {
  .how-wrap {
    padding: 0;
  }

  .how-block {
    padding: 100px 64px;
  }

  .how-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px 159px;
  }

  .how-subtitle {
    font-size: 32px;
  }

  .how-item.first {
    padding-right: 25px;
  }

  .how-item.second,
  .how-item.third {
    padding-right: 27px;
  }

  .how-text {
    font-size: 16px;
    line-height: 1.25;
  }

  .how-item-text {
    font-size: 16px;
    line-height: 1.25;
  }
}

@media screen and (min-width: 1280px) {
  .how-it-work {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin: 0 auto;
    max-width: 1280px;
  }

  .hero-content {
    padding: 0px 0px 50px 0px;
    max-width: 502px;
    height: 562px;
  }

  .how-wrap {
    padding: 0;
    max-width: 100%;
  }

  .how-block {
    padding: 100px;
    width: 630px;
    height: 759px;
  }

  .how-content {
    padding: 100px 100px 160px 100px;
    width: 650px;
    height: 759px;
  }

  .how-subtitle {
    font-size: 32px;
  }

  .how-text {
    font-size: 16px;
    line-height: 1.25;
  }

  .how-item-text {
    font-size: 16px;
    line-height: 1.25;
  }
}